body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo .logo-img {
    max-width: 100%;
    max-height: 300px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.nav-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
}

.nav-button:hover {
    background-color: #555;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
}

.close-btn {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.modal-body .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-body .form-group {
    width: 48%;
}

.modal-body label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.modal-body textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Space between input box and button */
    margin-bottom: 20px; /* Set a minimum height to make it comfortable for typing */
    min-height: 100px; /* Allow the user to resize the textarea vertically */
    resize: vertical;
}

.submit-btn {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

